table {
  width: 100%
}

th.mat-sort-header-sorted {
  color: black
}

.mat-table-sticky {
  border-top: 1px solid
}

mat-header-row {
  background: red
}

tr:hover {
  background: #efefef
}

.header-right {
  float: right
}

mat-form-field.mat-form-field {
  width: 100%;
}