<div class="container">
  <br />
  <h2><b>Status</b></h2>
  <div class="add_new">
    <button mat-button (click)="addStatus()" class="button">
      <mat-icon>add</mat-icon>Add Status
    </button>
    <br /><br /><br />
    <mat-form-field class="w-100 h-100" appearance="outline">
      <mat-label>Search Status</mat-label>
      <input matInput placeholder="Search Label" (keyup)="_filterStatus($event)">
    </mat-form-field>
    <br />
  </div>
  <div>
    <br />
    <table mat-table [dataSource]='_dataSource' matSort multiTemplateDataRows>
      <ng-container matColumnDef='status'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark_bg">Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef='number'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark_bg">Total no Of Tasks</th>
        <td mat-cell *matCellDef="let element">{{element.task_number}}</td>
      </ng-container>
      <ng-container matColumnDef='archieved'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark_bg">No Of Archieved Tasks</th>
        <td mat-cell *matCellDef="let element">{{element.archieved_task}}</td>
      </ng-container>
      <ng-container matColumnDef='action'>
        <th mat-header-cell *matHeaderCellDef class="dark_bg">Actions</th>
        <td mat-cell *matCellDef="let element">
          <span class="option" [routerLink]="['/statusDet', element.status ]" style="cursor: pointer;">
            <mat-icon>visibility</mat-icon>
          </span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="option" (click)="editStatus(element)" style="cursor: pointer;">
            <mat-icon>edit</mat-icon>
          </span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="option" (click)="deleteStatus(element)" style="cursor: pointer;">
            <mat-icon>delete</mat-icon>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="_cols; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: _cols"></tr>
    </table>
  </div>
</div>
