$primary-color: #57b846;

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-table-sticky {
  border-top: 1px solid;
}

mat-header-row {
  background: red;
}

tr:hover {
  background: #efefef;
}

.header-right {
  float: right;
}

.button {
  background: #57b846 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: white;
}

.dark_bg{
  background-color: $primary-color;
  color: white;
  font-size: 16px;
}