<div *ngIf="isLoggedIn">
    <div class="p-2" style="z-index: 10001; font-size: 16px;">
        <br/>
        <span style="padding-left: 40px;">TO-DO List</span>
        <div class="header-right">
            <span style="padding-right: 40px;">
                Welcome, {{user.username}}
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>  
        </div>        
    </div>
    
      
    <div class="menu" style="background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 3px 8px #3C775A21;opacity: 1;">
        <div class="p-3 position-absolute" style="font-size: 16px; padding-left: 40px;">
            <button mat-button (click)="goToPage('/upcoming')"><mat-icon aria-hidden="false">arrow_upward</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;Upcoming Tasks</button>
            <br/><br/>
            <button mat-button (click)="goToPage('/completed')"><mat-icon aria-hidden="false">check_circle_outline</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;Completed Tasks</button>
            <br/><br/>
            <button mat-button (click)="goToPage('/archive')"><mat-icon aria-hidden="false">archive</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;Archieved Tasks</button>
            <br/><br/>
            <button mat-button (click)="goToPage('/label')"><mat-icon aria-hidden="false">label</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;Labels</button>
            <br/><br/>
            <button mat-button (click)="goToPage('/status')"><mat-icon aria-hidden="false">storage</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;Status</button>
        </div>
    </div>
</div>
