<br /><br /><br /><br />
<div class="container" style="display: flex; flex-flow: row wrap;"> 
<!-- <div> -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Shardul Lingwal</mat-card-title>
      <mat-card-subtitle>Intern @ GE-Digital | IIITB</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://avatars3.githubusercontent.com/u/9502795?s=460&u=ddb979569da68be3944e66e16f184da7ca1c62df&v=4" style="width: 100%">
     <mat-card-content>He is currently pursuing M.Tech(CSE) from IIIT Bangalore. Meanwhile completing his final semester internship from GE-Digital.</mat-card-content> 
    <!-- <mat-card-content>some content</mat-card-content> -->
    <mat-card-actions>
      <button mat-flat-button><a href="https://github.com/Mshardul">Github</a></button>
      <button mat-flat-button><a href="https://www.linkedin.com/in/mshardul/">Linkedin</a></button>
    </mat-card-actions>
  </mat-card>

  <mat-card >
    <mat-card-header>
      <mat-card-title>Date Bangalore</mat-card-title>
      <mat-card-subtitle>Product Engineer at BIZense | SRM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://avatars1.githubusercontent.com/u/18211617?s=400&v=4" style="width: 100%">
    <mat-card-content>She is my date. ENOUGH SAID!!!!</mat-card-content>
    <mat-card-actions>
      <button mat-flat-button><a href="https://github.com/sakshi30">Github</a></button>
      <button mat-flat-button><a href="https://www.linkedin.com/in/sakshi-srivastava-a7482295/">Linkedin</a></button>
    </mat-card-actions>
  </mat-card>
</div>