@import '~@angular/material/theming';
@include mat-core();
$dsp-app-primary:mat-palette($mat-green, 600);
$dsp-app-accent : mat-palette($mat-light-blue, A900, A100, A600);
$dsp-app-warn : mat-palette($mat-red);
$dsp-app-theme: mat-light-theme($dsp-app-primary, $dsp-app-accent, $dsp-app-warn);
@include angular-material-theme($dsp-app-theme);

$primary-color :#009D4F;
$secondary-color:rgba(3, 155, 229, 1);
$primary-color-report: rgba(255, 202, 40, 1);

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.theme-bg {
    background-color: $primary-color;
    color: $secondary-color;
}

.theme-bg-report {
    background-color: $primary-color-report;
    color: $secondary-color;
}

.image-center {
    text-align: center;
    width: auto;
    height: auto;
}

.routerPadding {
    padding-top: 70px;
    position: absolute;
    left: 210px;
    right: 10px;
    margin-left: 600px;
  }
  
  .routerPaddingFold {
    padding-top: 70px;
    position: absolute;
    left: 60px;
    margin-left: 600px;
    right: 10px;
  }

