<div class="container">
    <br/>
    <h2 *ngIf="!updated_task"><b>Add Task</b></h2>
    <h2 *ngIf="updated_task"><b>Update Task</b></h2>
    <br/>
    <mat-card>
        <mat-form-field class="w-100 h-100" appearance="outline">
            <mat-label>What's on your mind?</mat-label>
            <textarea matInput rows="10" placeholder="What's on your mind?" [(ngModel)]="created_task.value" name="task_value"></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10%" fxLayoutWrap>
            <mat-form-field class="w-100" appearance="outline">
                <mat-chip-list #chipList aria-label="Label selection">
                  <mat-chip *ngFor="let label of created_task.label" (removed)="remove(label)">
                    {{label}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Select or press enter to add labels"
                    #labelInput
                    [formControl]="labelCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
                    {{label}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select [formControl]="status" [(ngModel)]="created_task.status" name="status">
                <mat-option *ngFor="let stat of tasks.status" [value]="stat">{{stat}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="primary" class="w-100" appearance="outline">
                <mat-label>Due date</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="created_task.dueDate" name="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <b>Mark your progress:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{created_task.progress}}% Completed
        <!-- <mat-form-field> -->
          <mat-slider class="w-100 h-100"
          [color]="'primary'"
          [min] = 0
          [max] = 100
          [step] = 5
          [thumbLabel] = true
          [value] = 0
          [tickInterval] = 0
          [(ngModel)]="created_task.progress">
        </mat-slider>
      <!-- </mat-form-field> -->
      `<br/><br/>
        <button mat-button (click)="createTask()" class="button" *ngIf="!updated_task">Create Task</button>
        <button mat-button (click)="updateTask()" class="button" *ngIf="updated_task">Update Task</button>
        <br/><br/><br/>
    </mat-card>
</div>